
.convers-row {
    display: flex;
    flex-wrap: wrap;
}
.convers-box {
    width: 20%;
    padding: 0 10px;
}
.box-inner {
    border: 1px solid rgba(112, 112, 112, 0.10);
    border-bottom: 4px solid #637BF4;
    border-radius: 5px;
    margin-bottom: 20px;
}
.map-icon {
    width: 100%;
    min-height: 150px;
    position: relative;
}
.box-bottom {
    padding: 20px 20px;
}
.convers-box h4 {
    font-size: 20px;
    font-weight: 500;
    color: #222222;
    margin-bottom: 4px;
    font-family: 'Circular Std';
}
.convers-box .stars {
    display: flex;
    margin-bottom: 10px;
}
.convers-box a.fa {
    color: #637BF4;
    font-size: 16px;
}
.convers-box p {
    font-size: 16px;
    font-weight: 400;
    color: #767676;
    line-height: 1.3;
    margin-bottom: 15px;
}
.convers-box .time {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
}
.convers-box h5 {
    font-size: 18px;
    font-weight: 500;
    color: #767676;
    font-family: 'Circular Std';
    margin-bottom: 0;
    line-height: 1.1;
}
.convers-box h5 span {
    font-size: 16px;
    font-weight: 400;
    color: #767676;
    display: block;
    margin-top: 4px;
}