

/* fonts */

@font-face {
    font-family: 'Circular Std';
    src: url('fonts/CircularStd-BoldItalic.woff2') format('woff2'),
        url('fonts/CircularStd-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Circular Std';
    src: url('fonts/CircularStd-Medium.woff2') format('woff2'),
        url('fonts/CircularStd-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std';
    src: url('fonts/CircularStd-Bold.woff2') format('woff2'),
        url('fonts/CircularStd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std Book';
    src: url('fonts/CircularStd-BookItalic.woff2') format('woff2'),
        url('fonts/CircularStd-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Circular Std Book';
    src: url('fonts/CircularStd-Book.woff2') format('woff2'),
        url('fonts/CircularStd-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std';
    src: url('fonts/CircularStd-Black.woff2') format('woff2'),
        url('fonts/CircularStd-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std';
    src: url('fonts/CircularStd-MediumItalic.woff2') format('woff2'),
        url('fonts/CircularStd-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Circular Std';
    src: url('fonts/CircularStd-BlackItalic.woff2') format('woff2'),
        url('fonts/CircularStd-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

* {
    font-family: 'Circular Std'; 
}


html {
    scroll-behavior: smooth;
}
body {
    padding: 0;
    margin: 0;
    line-height: 1.5;
    font-family: 'Circular Std Book';
}
h1,h2,h3,h4,h5,h6 {
    padding: 0;
    margin: 0;
}
img {
    max-width: 100%;
}
a:hover {
    text-decoration: none;
}
ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}


.wrapper {
    background: #fff;    
}



/*-- Toggle Btn CSS Start --*/

.btn-toggle {
    text-align: center;
    width: 30px;
    position: fixed;
    z-index: 110;
    display: none;
    top: 115px;
    left: 12px;
    position: fixed;
    transition: 0.5s all ease;
    cursor: pointer;
}
.btn-toggle.side {
    left: 8px;
}
.btn-toggle.team {
    right: 8px;
    left: auto;
    
}
.btn-toggle span {
    display: block;
    width: 30px;
    height: 3px;
    background: #6A707E;
    margin-bottom: 6px;
}
.btn-toggle.show span:nth-child(1) {
    -webkit-transform: rotate(-50deg) translate(-5px, 8px);
    transform: rotate(-50deg) translate(-5px, 8px);
    transition: 0.5s all ease;
}
.btn-toggle.show span:nth-child(2) {
    opacity: 0;
    transition: 0.5s all ease;
}
.btn-toggle.show span:nth-child(3) {
    -webkit-transform: rotate(47deg) translate(-5px, -8px);
    transform: rotate(47deg) translate(-5px, -8px);
    transition: 0.5s all ease;
}
/*-- Toggle Btn CSS End --*/

.spot-wrap {
    max-width: 1430px;
    padding: 120px 50px 50px 50px;
    margin: 0 auto;
    margin-left: 320px;
}

.search-spaot {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}
.search-spaot .form-control {
    font-size: 18px;
    font-weight: 400;
    color: #6A707E;
    padding: 15px 25px;
    border-color: transparent;
    font-family: 'Circular Std Book';
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.6);
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
    height: 60px;
    width: 85%;
}
.search-spaot .form-control:focus {
    outline: none;
    background: #fff;
    border-radius: 8px;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.6);
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
}
.search-spaot .btn-primary {
    height: 60px;
    padding: 0;
    border-radius: 0 8px 8px 0;
    width: 15%;
    font-size: 24px;
    font-weight: 700;
    color: #FFFFFF;
    font-family: 'Circular Std';
    background: #637BF4;
    border-color: transparent;
}
.search-spaot .btn-primary:focus {
    box-shadow: none;
    outline: none;
}
.spot-map {
    border-radius: 15px;
    min-height: 625px;
    position: relative;
    overflow: hidden;
}











/*--- Responsive Start ---*/
@media (max-width: 1700px) {
    .sidebar {
        max-width: 270px;
    }
    .spot-wrap {
        margin-left: 270px;
    }
    .search-spaot .form-control {
        width: 80%;
    }
    .search-spaot .btn-primary {
        width: 20%;
    }
}


@media (max-width: 1199px) {
    .sidebar {
        left: -330px;
        z-index: 100;
        transition: 0.5s all ease;
        padding: 40px 0 30px;
    }
    .sidebar.show {
        left: 0;
    }
    .btn-toggle.side {
        display: block;
    }
    .spot-wrap {
        margin-left: 0;
    }
}


@media (max-width: 991px) {
    .navbar-light .navbar-toggler {
        display: none;
    }
    .navbar-light .navbar-collapse {
        display: block;
    }
    .spot-wrap {
        padding: 120px 15px 30px 15px;
    }
    .header {
        padding: 10px 0;
    }
    .logo a {
        font-size: 30px;
    }
    .btn-toggle {
        top: 75px;
    }
    .search-spaot .btn-primary {
        font-size: 20px;
        height: 45px;
    }
    .search-spaot .form-control {
        
        height: 45px;
    }
    .sidebar {
        top: 60px;
    }
}

@media (max-width: 767px) {
    .search-spaot .form-control {
        width: 70%;
    }
    .search-spaot .btn-primary {
        width: 30%;
    }
}

@media (max-width: 640px) {


}

@media (max-width: 480px){
    .search-spaot {
        flex-wrap: wrap;
    }
    .search-spaot .form-control {
        padding: 0 15px;
        font-size: 16px;
        width: 100%;
    }
    .search-spaot .btn-primary {
        width: 40%;
        margin-left: auto;
        border-radius: 0 0 8px 8px;
        font-size: 14px;
        height: 40px;
    }
}

/*--- Responsive End ---*/
